@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --cyan: #004852;
  --white: #f1f1e6;
  --blue: #9cd5e0;
  --brown: #8a6a55;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  font-weight: 400;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}